/*xxxxxxxxxxx--Tlabet---xxxxxxxxx*/
@media (max-width:768px){
header >div{
/* background-color: blueviolet; */
width: 100%;
height:100px;
display: none;

}




header >.mobile-menu{
    position: absolute;
    width: 50%;
    height: 600px;
    margin-left: 50%;
    background-color: gray;
    z-index: 1;
    display: none;
   
    
}
header >.mobile-menu >ul >li{
font-size:21px;
color:white;
list-style:none;
float:none;
position: relative;
padding-top: 50px;
text-align: center;
}
ul >li >a:after{
        display: none;    
    }
  
p{ 
    margin: 50px 10% 0 10%;
}

.caixaServices{

    margin: 50px 0 0 12.5%;
}
.caixaServices2{

    margin: 50px 0 0 12.5%;
}
.caixaServices3{

    margin: 50px 0 0 12.5%;
}

}